@page
@model RecadoPages.Pages.Admin.EditarModel
@{
}
<div class="container mt-5">
    <h2>Edição de Recado</h2>
    <form method="post">
        <div class="form-group">
            <label for="mensagem">Id</label>
            <input readonly class="form-control" value="@Model.Recado.Id">
        </div>
        <div class="form-group">
            <label for="mensagem">Mensagem</label>
            <input type="text" class="form-control" id="mensagem" name="mensagem" asp-for="Recado.Mensagem" required maxlength="100">
        </div>
        <div class="form-group">
            <label for="remetente">Remetente</label>
            <input type="text" class="form-control" id="remetente" name="remetente" asp-for="Recado.Remetente" required maxlength="100">
        </div>
        <div class="form-group">
            <label for="destinatario">Destinatario</label>
            <input type="text" class="form-control" id="destinatario" name="destinatario" asp-for="Recado.Destinatario" required maxlength="100">
        </div>
        <button type="submit" class="btn btn-primary">Editar Recado</button>
    </form>
</div>